spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
url: https://66055cd12ca9478ea1801f2e.mockapi.io/api/users/income
loan:
  minimalIncome: 40000
  minimalCarPrice: 1000000
  maxLoanByIncomePercentage: 0.5
  maxLoanByCarPricePercentage: 0.3